extends ../base

constent block
    main.main
        div.error
            div.error__title
                h2.heading-secondary.heading-secondary--error= title
                h2.error__emoji
            div.error__msg= msg